#This is a dummy config file that replaces every config variable With a shell
#variable of the same name
#so when you run "tup generate" the command "gcc @CFLAGS@ -c foo.c -o bar.o"
#it expands to "gcc $CONFIG_CFLAGS -c foo.c -o bar.o"
CONFIG_INSTALL_DIR=$CONFIG_INSTALL_DIR
CONFIG_GEANY_PLUGIN_DIR=$CONFIG_GEANY_PLUGIN_DIR
CONFIG_CFLAGS=$CONFIG_CFLAGS
CONFIG_LISP_CMD=$CONFIG_LISP_CMD
